{% extends "main.html" %}
{% block content %}


<div class = 'flash' style="text-align:center; background-color: #181d24; color:#f7d169">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul type="none">
		{% for message in messages %}
		<li> <strong style="text-transform: uppercase;">{{ message }} </strong> </li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</div>

<div class="row no-gutters">
	<div class="col-md-4" style="padding-right:0; padding-left:0;">
		<div class="panel">
			<div class="panel-heading text-center bg-primary"><h1><b>Category</b></h1></div>
			<div class="panel-body">
				<ul class="list-group">
					{% for cat in categories %}
					<li class="list-group-item">
						<a href = "{{url_for('categoryMenu', category_id = cat.id)}}"><span>{{cat.name}}</span></a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="">
					<center><a href="{{url_for('newItem')}}"> <button type="button" class="btn btn-success">Add Item</button></a></center>
			</div>
		</div>
	</div>

	
	<div class="col-md-8" style="padding-right:0; padding-left:0;">
		<div class="panel">
			<div class="panel-heading text-center bg-primary" ><h1><b>Latest Items</b></h1></div>
			<div class="panel-body">
				<ul class="list-group">
					{% for item in items %}
					<li class="list-group-item">
						<a href = "{{url_for('showItem', item_id = item.id)}}">
							{{item.name}}	
						</a>
						<i> ({{item.category.name}})</i>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}
